# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Build
dist/
build/
*.spec
.venv/

# Datos de la aplicación
data/
*.log

# Sistema
.DS_Store
Thumbs.db

# config
config/
config/sistema_config.json
